.characterEditor {
  padding-top: 128px;
  padding-bottom: 64px;
  display: flex;
}

.maxWidthWrapper {
  position: relative;
}

.header {
  padding-bottom: 64px;
}

.title {
  font-size: 2.5rem;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 16px;
  letter-spacing: -0.5px;
}

.description {
  font-size: 1.25rem;
  margin: 0;
}

.characterWrapper {
}

.controlColumn {
  max-width: 50%;
}

.bkgBox {
  background: hsl(195deg, 20%, 86%);
  width: 100%;
  height: 40%;
  position: fixed;
  top: 60%;
  /* z-index: -1; */
}
